# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# tfvars (may contain secrets like AWS profile)
terraform.tfvars
*.auto.tfvars
